.container{
    background-color: #2F2FA2
}
.section-title{
    color:black;
    font-family: "roboto", sans-serif;   
    margin: 50px;
}
.section-paragraph {
    color:rgb(207, 19, 19)
}
.div {
    width: 150px;
    height: 200px;

}
.title-block {
    width: 200px;
    height: 200px;
    padding: 25px 15px;
}
.main-block {
    width: 200px;
    height: 200px;
    padding: 0px 200px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}