* {
    margin: 0;
    padding: 0;
}

.main-block {
    background: url(../images/1.jpg);
    background-size: 100% 100%;
    padding-top: 234px;
    padding-bottom: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 83px;
    color: #F64C72
}

.main-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    margin-top: 11px;
    color: #2F3337;
}

.main-button {
    margin-top: 28px;
    padding: 27px 16px;
    background-color: #fff;
    border-radius: 20px;
    border: 3px solid #F64C72;
    font-family: 'Montserrat', sans-serif;
    color: #F64C72;
    font-size: 13px;
    font-weight: 600;
}


.about-me-block {
    background-color: #2F2FA2;
    padding-top: 72px;
    padding-bottom: 175px;
    display: flex;
    flex-direction: column;
    
    padding-left: 20px;
    padding-right: 20px;
}

.about-me-title {
    font-family: "Montserrat", sans-serif;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
}

.hero-image {
    width: 450px;
    height: 481px;
}

.person-info-block {
    margin-top: 47px;
    display: flex;
    align-items: center;
    margin-left:228px;
    gap: 90px;
    max-width: 1380px;
}

.person-info-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.person-into-text {
    font-family: "Montserrat", sans-serif;
    /*margin-top: 89px;
    margin-left: 89px;*/
    color: white;
    font-size: 25px;
    font-weight: normal;

}

.profession-block{
    background: url(../images/3.jpg);
    background-size: 100% 100%;
    padding-top: 234px;
    padding-bottom: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profession-info-block{
    display: flex;
    flex-direction: row;
    /*padding-left: 383.28;
    padding-top: 114.47;
    padding-bottom: 211;
    padding-right: 776;*/

}
.profession-title{
    display: flex;
    padding-left: 383.28;
    padding-top: 114.47;
    padding-bottom: 211;
    padding-right: 776;
}

profession-text{
    display: flex;
    padding-left: 383.28;
    padding-top: 114.47;
    padding-bottom: 211;
    padding-right: 776;

}